<div class="page-title grid">
  <div class="grid-row">
    <div class="cell6">
      <h3><%= page_title[:title] %></h3>
    </div>
    <div class="cell6">
      <%= render partial: 'shared/components/toolbar', object: page_title[:toolbar] if page_title[:toolbar] %>
    </div>
  </div>
</div>
